.chess {
  position: relative;
  width: 642px;
  margin: 0 auto;
}
.chessboard {
  margin: 0 auto;
  border: 1px solid #000000;
  border-spacing: 0px;
}
.chessboard .rank:nth-child(odd) .grid:nth-child(even) {
  background: #808080;
}
.chessboard .rank:nth-child(even) .grid:nth-child(odd) {
  background: #808080;
}
.chessboard .rank .grid {
  position: relative;
  width: 80px;
  height: 80px;
  padding: 0px;
}
.chessboard .rank .grid .piece {
  position: absolute;
  height: 100%;
  top:0;
  left:0;
  background-color: transparent;
  transition: all 500ms ease-in;
  z-index: 1;
}
.controls {
  margin: 20px auto 0px auto;
  padding: 10px 0px;
  display: flex;
  color: #ffffff;
  background-color: #002366;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.controls button .regenerate-icon {
  color: #ffffff;
  font-size: 16px;
}
.controls .board-info {
  text-align: left;
  margin: 0px 20px;
}
.controls .board-info span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.controls .select-speed {
  margin: 0px 20px;
}
.controls .select-speed span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.controls button {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 0px;
  margin: 0px 20px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 6px;
  outline: none;
}
.controls button.next.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.1;
}
.controls button .play-icon {
  position: absolute;
  top: 7px;
  left: 13px;
  height: 30px;
  width: 3px;
  background-color: #fff;
  border-radius: 3px;
}
.controls button.playing .play-icon:before, 
.controls button.playing .play-icon:after,
.controls button.paused .play-icon:before,
.controls button.paused .play-icon:after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 30px;
  width: 3px;
  border-radius: 3px;
  transition: all 0.2s ease-in;
}
.controls button.playing .play-icon:before, 
.controls button.playing .play-icon:after {
  top: 0px;
  left: 15px;
}
.controls button.paused .play-icon:before, .controls button.paused .play-icon:after {
  height: 23px;
}
.controls button.paused .play-icon:before {
  left: 9px;
  top: -3px;
  transform: rotate(-50deg);
}
.controls button.paused .play-icon:after {
  left: 9px;
  top: 10px;
  transform: rotate(50deg);
}
.controls button .next-icon {
  position: absolute;
  top: 7px;
}
.controls button .next-icon.left {
  left: 8px;
}
.controls button .next-icon.right {
  left: 15px;
}
.controls button .next-icon:before, .controls button .next-icon:after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 23px;
  width: 3px;
  border-radius: 3px;
}
.controls button .next-icon:before {
  left: 9px;
  top: -3px;
  transform: rotate(-50deg);
}
.controls button .next-icon:after {
  left: 9px;
  top: 10px;
  transform: rotate(50deg);
}